In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt

In [3]:
SampleSubmission = pd.read_csv('C:/Users/Silent/Desktop/Data Science Projects/Running/Wazihub Soil Moisture Prediction Challenge/SampleSubmission.csv')

In [4]:
SampleSubmission.head()

                                      ID  Values
0  2019-03-25 22:50:00 x Soil humidity 1     NaN
1  2019-03-25 22:55:00 x Soil humidity 1     NaN
2  2019-03-25 23:00:00 x Soil humidity 1     NaN
3  2019-03-25 23:05:00 x Soil humidity 1     NaN
4  2019-03-25 23:10:00 x Soil humidity 1     NaN

In [5]:
test = SampleSubmission
test['timestamp'],test['type_soil_humidity'] = test['ID'].str.split('x').str
test.head()

,ID,Values,timestamp,type_soil_humidity
0,2019-03-25 22:50:00 x Soil humidity 1,NaN,2019-03-25 22:50:00,Soil humidity 1
1,2019-03-25 22:55:00 x Soil humidity 1,NaN,2019-03-25 22:55:00,Soil humidity 1
2,2019-03-25 23:00:00 x Soil humidity 1,NaN,2019-03-25 23:00:00,Soil humidity 1
3,2019-03-25 23:05:00 x Soil humidity 1,NaN,2019-03-25 23:05:00,Soil humidity 1
4,2019-03-25 23:10:00 x Soil humidity 1,NaN,2019-03-25 23:10:00,Soil humidity 1

In [6]:
test = test.drop(columns= ['ID','Values','type_soil_humidity'], axis =1)

In [7]:
test.head()

              timestamp
0  2019-03-25 22:50:00
1  2019-03-25 22:55:00
2  2019-03-25 23:00:00
3  2019-03-25 23:05:00
4  2019-03-25 23:10:00